[phases.setup]
nixPkgs = ["nodejs-24_x"]
nixLibs = []
nixOverlays = ["https://github.com/railwayapp/nix-npm-overlay/archive/main.tar.gz"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build && npm prune --production"]

[start]
cmd = "node build"
